body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #FFFFFF;
	background-color: #000000;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #FFFFFF;
}

th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #FFFFFF;
}

strong {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #FF0000;
	border-bottom: 1px dotted #FF0000;
}

#main_table {
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

.form_table {
	padding: 3px 3px 3px 3px;
	text-align: left;
}


.top_bar {
	background-image: url(../images/top_barback.gif);
}

.shadow {
	background-image: url(../images/shadow.gif);
	background-repeat: repeat-x;
}

#left_gray {
	background-image: url(../images/left_gray.gif);
	background-repeat: no-repeat;
	background-color: #000000;
	width: 27px;
	height: 100%;
}


#gradient {
	background-image: url(../images/gradient.gif);
	background-repeat: repeat-x;
	background-color: #FF0000;
	width: 152px;
	height: 100%;
}

#footbar {
	background-image: url(../images/footer_back.gif);
	background-repeat: repeat-x;
	width: 530px;
	height: 10px;
}

.color_links {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FF0000;
	font-style: normal;
	text-decoration: none;
}

.color_links:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	font-style: normal;
	text-decoration: underline;
}

.color_small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #FF0000;
	font-style: normal;
	text-decoration: none;
}

.horizontal_div {
	background-image: url(../images/horizontal_dotted.gif);
	background-repeat: repeat-x;
	height: 5px;
}

.title_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FF0000;
}

.form_fields {
	background-color: #666666;
	border: 1px solid #FF0000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF0000;

}

#map_pic {
	border: 5px groove #FF0000;
	border-style: groove;
}